@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika&family=Dancing+Script&display=swap");
body {
  overflow-x: hidden;
  background-color: #221518;
  margin: 0 !important;
}

/* ! BAYANA Start MainContentBlock1 */
.story__container {
  display: flex;
  margin-top: 100px;
  margin-left: 90px;
  width: 85%;
  height: 378px;
  border-radius: 35px;
  border-width: 1px, 0px, 0px, 2px;
  border-style: solid;
  border-image-source: radial-gradient(
    81.91% 191.89% at 2.52% 0%,
    rgba(173, 113, 74, 0.35) 0%,
    #54362a 27.56%,
    rgba(34, 21, 24, 0) 87.59%
  );
  background: radial-gradient(
    81.91% 191.89% at 2.52% 0%,
    rgba(173, 113, 74, 0.35) 0%,
    #54362a 27.56%,
    rgba(34, 21, 24, 0) 87.59%
  );
  background-color: rgba(173, 113, 74, 0.35);
}
.desc__container h2 {
  font-family: Dancing Script;
  font-size: 54px;
  font-weight: 700;
  color: #f8e4be;
  margin-top: -40px;
  margin-left: 370px;
  width: 100%;
}
.desc__container p {
  font-family: Andika;
  font-size: 17px;
  font-weight: 400;
  width: 80%;
  text-align: left;
  color: white;
  text-align: justify;
  margin-right: 100px;
  margin-top: -30px;
  margin-left: 100px;
}
.story__container img {
  width: 552px;
  height: 690px;
  margin-left: -140px;
  margin-top: -70px;
}
.p_more {
  font-family: Andika;
  margin-left: 84% !important;
  font-size: 18px;
  font-weight: 400;
  width: 100px;
  height: 27px;
  padding: 20px;
  border: 0.5px;
  text-decoration: underline;
}
.swiper-pagination-bullet {
  background: #744f40;
}
.swiper-pagination-bullet-active {
  background: #d7b0a0 !important;
}
.service_img {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
.service_img div img {
  transition: transform 0.3s ease;
}
.service_img div img:hover {
  transform: scale(1.3);
}

.offer__container {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  margin-left: 70px;
  width: 88%;
  height: 378px;
  top: 67px;
  left: 6px;
  border-radius: 35px;
  border-width: 1px, 0px, 0px, 2px;
  border-style: solid;
  border-image-source: radial-gradient(
    81.91% 191.89% at 2.52% 0%,
    rgba(173, 113, 74, 0.35) 0%,
    #54362a 27.56%,
    rgba(34, 21, 24, 0) 87.59%
  );
  background: radial-gradient(
    81.91% 191.89% at 2.52% 0%,
    rgba(173, 113, 74, 0.35) 0%,
    #54362a 27.56%,
    rgba(34, 21, 24, 0) 87.59%
  );
  background-color: rgba(173, 113, 74, 0.35);
}
.shop-button__offer {
  background-color: rgb(69, 49, 41);
  color: rgb(248, 228, 190, 1);
  width: 170px;
  height: 55px;
  border-radius: 49px;
  border: 2px solid rgb(248, 228, 190, 1);
  font-size: 24px;
  font-family: Andika;
  margin-left: 8%;
  margin-top: -1%;
  cursor: pointer;
}
.shop-button__offer:hover {
  background-color: #dabb9e;
}
.text__container {
  margin-left: 30px;
  text-align: justify;
}
.text__container h2 {
  margin-top: -40px;
  font-family: Dancing Script;
  font-weight: 700;
  font-size: 56px;
  color: #f8e4be;
  margin-left: 7%;
}
.text__container h3 {
  font-family: Andika;
  font-size: 48px;
  font-weight: 400;
  text-align: left;
  margin-top: -40px;
  color: rgba(248, 228, 190, 1);
  margin-left: 7%;
}
.text__container p {
  font-family: Andika;
  margin-top: -30px;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  color: white;
  text-align: justify;
  width: 600px;
  padding: 10px;
  margin-left: 7%;
}
.text__container-right img {
  margin-left: 35%;
}
.text__container img {
  margin-left: 7%;
}
#litbean {
  width: 47.51px;
  height: 61.6px;
  margin-top: 150px;
  margin-bottom: 200px;
  margin-left: 6px;
}
#litbean2 {
  width: 57.51px;
  height: 71.6px;
  margin-top: 100px;
  margin-left: -100px;
}
#litbean3 {
  width: 57.51px;
  height: 71.6px;
  margin-top: 300px;
  margin-left: -10%;
}
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://p1.pxfuel.com/preview/856/606/340/background-brown-vintage.jpg");
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.ModalContent {
  margin-top: 20px;
}

.ModalButton {
  font-family: Andika;
  margin-top: 20px;
  font-weight: 700;
  color: darkslategray;
  background-color: rgba(248, 228, 190, 1);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.ModalButton:hover {
  transform: scale(1.1);
}
/* ! BAYANA FINISH MainContentBlock1 */

/* Bayana start Adaptive to MainContentBlock1 */

/* Bayana finish Adaptive to MainContentBlock1 */
/* ! Bayana Start Payment form */

.container {
  font-family: Andika;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(173, 113, 74, 0.35) 60%,
    #d7b0a0 40.1%
  );
}

.container form {
  padding: 20px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container form .row .col {
  flex: 1 1 250px;
}

.container form .row .col .title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox {
  margin: 15px 0;
}

.container form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input {
  width: 90%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus {
  border: 1px solid #000;
}

.container form .row .col .flex {
  display: flex;
  gap: 15px;
}

.container form .row .col .flex .inputBox {
  margin-top: 5px;
}

.container form .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 30px;
  background: #221518;
  font-family: Dancing Script;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover {
  background: #442318;
}
.error-message {
  color: red;
}
.input-label {
  font-size: 14px;
  font-weight: bold;
}

.select-wrapper {
  position: relative;
}

.input-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  background-color: #fff;
}

.input-select:focus {
  outline: none;
  border-color: #007bff;
}

.select-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #999;
}

/* !  */

.input-field {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(174, 149, 126);
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
/* ! Cart Icon Badge start */
.cart-container {
  position: relative;
}
.cart-badge {
  position: absolute;
  top: -18px;
  right: -14px;
  background-color: #ffe6a7 !important;
  color: black !important;
  border-radius: 50% !important;
  padding: 5px 5px 5px 5px !important;
  font-size: 13px !important;
  font-weight: bold;
}
/* ! Cart Icon Badge finish */
/* ! Like Icon Badge start */
.like-icon-button {
  position: relative;
}

.like-icon-button .MuiBadge-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ffe6a7;
  color: black;
  border-radius: 50%;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
}

/* ! Like Icon Badge finish */
/*? header start */
.nav {
  display: flex;
  align-items: center;
  position: fixed;
}
.header__nav-Menu {
  color: #fff8e8;
  font-family: Andika;
  font-size: 20px;
}
.nav__logo {
  margin-left: 25%;
}

.nav-div {
  display: flex;
  align-items: center;
  margin-left: 150%;
  gap: 20px;
}
/* Ваш стиль CSS */
.nav__img {
  width: 25px;
  height: 25px;
}

@keyframes moveCart {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shakeCart {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes swingCart {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(10deg);
  }
}

.nav__img.cart {
  animation: moveCart 2s ease-in-out infinite, shakeCart 1s ease-in-out infinite,
    swingCart 1s ease-in-out infinite;
}

.hero {
  left: 0;
  position: absolute;
  margin-left: 10.4%;
  z-index: -1;
}
.block-left-img {
  margin: 0;
  margin-top: 34%;
  margin-left: 13%;
}
.block-left-p {
  color: #dabb9e;
  font-family: Andika;
  font-size: 24px;
  width: 472px;
  margin-left: 14.2%;
  margin-top: -19%;
}

.shop-button {
  background-color: rgb(69, 49, 41);
  color: rgb(248, 228, 190, 1);
  width: 170px;
  height: 55px;
  border-radius: 49px;
  border: 2px solid rgb(248, 228, 190, 1);
  font-size: 24px;
  font-family: Andika;
  margin-left: 14%;
  cursor: pointer;
  margin-top: 55px;
  cursor: pointer;
}
.shop-button:hover {
  background-color: #dabb9e;
}
.catalog-button {
  cursor: pointer;
  background-color: rgb(69, 49, 41);
  color: rgb(248, 228, 190, 1);
  width: 170px;
  height: 55px;
  border-radius: 49px;
  border: 2px solid rgb(248, 228, 190, 1);
  font-size: 24px;
  font-family: Andika;
  margin-left: 13%;
  cursor: pointer;
  margin-top: 55px;
}
.catalog-button:hover {
  background-color: #dabb9e;
}
.card {
  margin-top: 24.5%;
  margin-left: 18%;
}
.corn7 {
  margin-top: 830px;
  margin-left: -205px;
}
.corn6 {
  margin-top: 700px;
  margin-left: -70px;
}
.corn5 {
  margin-top: 500px;
  margin-left: 40px;
}
.corn4 {
  margin-top: 320px;
  margin-left: -65px;
}
.corn3 {
  margin-top: 135px;
  margin-left: -25px;
}
.corn2 {
  margin-top: 90px;
  margin-left: 110px;
}
.corn1 {
  margin-top: 150px;
  margin-left: 325px;
}
/*? header finish */
/*! PAPULARMENU START */
.block1 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.block2 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.block3 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.block4 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.container__menu {
  margin-top: 10%;
}
.price {
  margin-left: 20px;
  font-size: 24px;
}
.asortiment {
  font-size: 48px;
}
.menu {
  font-family: Dancing Script;
  margin-left: 40%;
  margin-top: 10%;
}
.popularmenu {
  margin: 0;
  position: absolute;
  z-index: -1;
  margin-left: 32%;
  margin-top: -160px;
}
.our__menu {
  font-size: 36px;
  font-family: Andika;
  color: #f8e4be;
  margin-left: 79%;
  margin-top: 3%;
}
/*! PAPULARMENU FINISH */

/*! Menu start */
.block5 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.block6 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.block7 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.block8 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.block9 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.menu2 {
  font-family: Dancing Script;
  margin-top: 3%;
  margin-left: 46%;
}
.blog {
  width: 50px;
  height: 50px;
  margin-bottom: -11px;
}
.main__munu-img {
  position: absolute;
  z-index: -1;
  margin-left: 32%;
}
.left1 {
  position: absolute;
  z-index: -1;
}
.left2 {
  position: absolute;
  z-index: -1;
  margin-top: 25%;
  margin-left: 10%;
}
.right1 {
  position: absolute;
  z-index: -1;
  margin-left: 92%;
  margin-top: 25%;
}
.right2 {
  position: absolute;
  z-index: -1;
  margin-top: 25%;
  margin-left: 80%;
}

.blog:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.animation1,
.animation2,
.animation3,
.animation4,
.animation5,
.animation6,
.animation7,
.animation8,
.animation9,
.animation10 {
  animation: swayAnimation 5s infinite ease-in-out;
}

.animation1 {
  animation-delay: 1s;
}

.animation2 {
  animation-delay: 2s;
}

.animation3 {
  animation-delay: 3s;
}

.animation4 {
  animation-delay: 4s;
}

.animation5 {
  animation-delay: 5s;
}

.animation6 {
  animation-delay: 6s;
}

.animation7 {
  animation-delay: 7s;
}

.animation8 {
  animation-delay: 8s;
}

.animation9 {
  animation-delay: 9s;
}

.animation10 {
  animation-delay: 10s;
}

@keyframes swayAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/*! Menu finish */
/*! card styles start */

.form_card {
  width: 300px;
  background-color: #3d2c29;
  color: #fff;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  font-family: Andika;
  display: inline-block;
  flex-wrap: wrap;
  margin-left: 60px;
  margin-top: 120px;

  /* &:hover {
    transform: scale(1.05);
  } */

  .card_content {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      border-radius: 5px;
    }

    div {
      flex: 1;

      p {
        margin: 5px 0;
        font-size: 14px;
      }
    }

    button {
      background-color: #8a6d63;
      color: #fff;
      border: none;
      padding: 8px 12px;
      margin: 5px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #634c46;
      }
    }
  }
}

/*! card styles finish */

/*! comments components start */
.lavazza {
  display: flex;
  margin-top: 5%;
  margin-left: 10%;
  font-family: Andika;
  color: #f8e4be;
}
.block11 {
  display: flex;
  background-color: rgba(198, 195, 195, 0.1);
  margin-left: 5%;
  width: 515px;
  margin-bottom: 8px;
  gap: "50px";
  border-radius: 5px;
  border: 2px solid #f3d8a6;
}
.block12 {
  display: flex;
  background-color: rgba(198, 195, 195, 0.1);
  margin-left: 5%;
  width: 515px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 2px solid #f3d8a6;
}
.block13 {
  display: flex;
  background-color: rgba(198, 195, 195, 0.1);
  margin-left: 5%;
  width: 515px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 2px solid #f3d8a6;
}
.block14 {
  display: flex;
  background-color: rgba(198, 195, 195, 0.1);
  margin-left: 5%;
  width: 515px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 2px solid #f3d8a6;
}
.block15 {
  display: flex;
  background-color: rgba(198, 195, 195, 0.1);
  margin-left: 5%;
  width: 515px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 2px solid #f3d8a6;
}
.block16 {
  display: flex;
  background-color: rgba(198, 195, 195, 0.1);
  margin-left: 5%;
  width: 515px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 2px solid #f3d8a6;
}
.lavazza__img {
  border: 1px solid black;
  width: 480px;
  height: 485px;
  text-align: center;
  background-color: #f3d8a6;
  border-radius: 10px;
}
.Lavazza__cold-p {
  margin-top: -3.5%;
  margin-left: 5%;
  width: 515px;
}
.block17 {
  width: 1005px;
  height: 120px;
  background-color: rgba(198, 195, 195, 0.1);
  border-radius: 5px;
  margin-left: 10%;
  font-family: Andika;
  color: #f8e4be;
  padding: 10px;
  margin-top: 1%;
  border: 2px solid #f3d8a6;
}
.card__buy {
  color: #f3d8a6;
  background-color: rgba(198, 195, 195, 0.1);
  border-radius: 5px;
  width: 70px;
  height: 30px;
  margin-top: -10px;
  margin-left: 3%;
  border: none;
  cursor: pointer;
}
.input__comments1 {
  color: #f3d8a6;
  background-color: rgba(198, 195, 195, 0.1);
  width: 150px;
  border: 1px solid #f3d8a6;
  height: 20px;
  font-family: Andika;
}
.input__comment2 {
  color: #f3d8a6;
  background-color: rgba(198, 195, 195, 0.1);
  margin-top: 0.5%;
  border: 1px solid #f3d8a6;
  font-family: Andika;
}
.block__comments-p {
  color: #f3d8a6;
  font-family: Andika;
  font-size: 20px;
}
.block_comments {
  margin-left: 10%;
  margin-top: 3%;
}
.submit_bottun {
  color: #f3d8a6;
  background-color: rgba(198, 195, 195, 0.1);
  border-radius: 5px;
  width: 150px;
  height: 40px;
  margin-top: 0.2%;
  border: none;
  cursor: pointer;
  font-family: Andika;
}
.comments__p {
  width: 890px;
  height: 120px;
  background-color: rgba(198, 195, 195, 0.1);
  border-radius: 5px;
  margin-left: 10%;
  font-family: Andika;
  color: #f8e4be;
  padding: 10px;
  margin-top: 1%;
  border: 2px solid #f3d8a6;
}
.img__big-bean {
  position: absolute;
  z-index: -1;
  width: 1000px;
  height: 1000px;
  margin-left: -10%;
}
/*! comments components finish */
/* ! map start */
.modal_p {
  margin: 25px;
  font-family: Andika;
  color: #fff;
  font-size: 20px;
}
/* ! map finish */

/*! Cart start */
.form__cart {
  background-color: #442318;
}
.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 4%;
  font-family: Andika;
  color: #f3d8a6;
}

.cart-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.cart-product {
  display: flex;
  align-items: center;
}

.cart-product-image {
  width: 250px;
  height: auto;
  margin-right: 10px;
}

.cart-item-input {
  width: 40px;
  text-align: center;
}

.cart-item-delete {
  color: black;
  background-color: #f3d8a6;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-family: Andika;
}

.static-items {
  margin-top: 20px;
}

.total-price {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f3d8a6;
  font-family: Andika;
  margin: 10px;
}

.order-button {
  background-color: #f3d8a6;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-family: Andika;
  margin-top: -2%;
}
/*! cart finish  */
/* ! bot start */
.bot {
  width: 35px;
  height: 35px;
}
/* !bot finish */
