@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@400;700&family=Josefin+Sans:wght@500&family=Roboto:wght@700&family=Rubik+Bubbles&family=Rubik+Doodle+Shadow&family=Rubik+Glitch&family=Sevillana&family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika&family=Dancing+Script:wght@400..700&family=Inter:wght@400;700&family=Josefin+Sans:wght@500&family=Roboto:wght@700&family=Rubik+Bubbles&family=Rubik+Doodle+Shadow&family=Rubik+Glitch&family=Sevillana&family=Single+Day&display=swap");
body {
  background-color: #221518;
  margin: 0;
}
/* header start */
.nav {
  display: flex;
  align-items: center;
  position: fixed;
}
.header__nav-Menu {
  color: #fff8e8;
  font-family: Andika;
  font-size: 20px;
  margin-left: 850%;
}
.nav__logo {
  margin-left: 25%;
}

.nav-div {
  display: flex;
  margin-left: 500%;
  gap: 10px;
}
/* Ваш стиль CSS */
.nav__img {
  width: 25px;
  height: 25px;
}

@keyframes moveCart {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shakeCart {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes swingCart {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(10deg);
  }
}

.nav__img.cart {
  animation: moveCart 2s ease-in-out infinite, shakeCart 1s ease-in-out infinite,
    swingCart 1s ease-in-out infinite;
}

.hero {
  left: 0;
  position: absolute;
  margin-left: 10.4%;
  z-index: -1;
}
.block-left-img {
  margin: 0;
  margin-top: 34%;
  margin-left: 13%;
}
.block-left-p {
  color: #dabb9e;
  font-family: Andika;
  font-size: 24px;
  width: 472px;
  margin-left: 14.2%;
  margin-top: -19%;
}

.shop-button {
  background-color: rgb(69, 49, 41);
  color: rgb(248, 228, 190, 1);
  width: 170px;
  height: 55px;
  border-radius: 49px;
  border: 2px solid rgb(248, 228, 190, 1);
  font-size: 24px;
  font-family: Andika;
  margin-left: 14%;
  cursor: pointer;
  margin-top: 55px;
  cursor: pointer;
}
.shop-button:hover {
  background-color: #dabb9e;
}
.catalog-button {
  cursor: pointer;
  background-color: rgb(69, 49, 41);
  color: rgb(248, 228, 190, 1);
  width: 170px;
  height: 55px;
  border-radius: 49px;
  border: 2px solid rgb(248, 228, 190, 1);
  font-size: 24px;
  font-family: Andika;
  margin-left: 13%;
  cursor: pointer;
  margin-top: 55px;
}
.catalog-button:hover {
  background-color: #dabb9e;
}
.card {
  margin-top: 24.5%;
  margin-left: 18%;
}
.corn7 {
  margin-top: 830px;
  margin-left: -205px;
}
.corn6 {
  margin-top: 700px;
  margin-left: -70px;
}
.corn5 {
  margin-top: 500px;
  margin-left: 40px;
}
.corn4 {
  margin-top: 320px;
  margin-left: -65px;
}
.corn3 {
  margin-top: 135px;
  margin-left: -25px;
}
.corn2 {
  margin-top: 90px;
  margin-left: 110px;
}
.corn1 {
  margin-top: 150px;
  margin-left: 325px;
}
/* header finish */
