@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika&family=Dancing+Script&display=swap");
body {
  overflow-x: hidden;
  background-color: #442318;
}

/* ! BAYANA Start MainContentBlock1 */
.story__container {
  display: flex;
  margin-top: 50px;
  margin-left: 90px;
  width: 87%;
  height: 378px;
  top: 67px;
  left: 6px;
  border-radius: 35px;
  border-width: 1px, 0px, 0px, 2px;
  border-style: solid;
  border-image-source: radial-gradient(
    81.91% 191.89% at 2.52% 0%,
    rgba(173, 113, 74, 0.35) 0%,
    #54362a 27.56%,
    rgba(34, 21, 24, 0) 87.59%
  );
  background: radial-gradient(
    81.91% 191.89% at 2.52% 0%,
    rgba(173, 113, 74, 0.35) 0%,
    #54362a 27.56%,
    rgba(34, 21, 24, 0) 87.59%
  );
  background-color: rgba(173, 113, 74, 0.35);
}
.desc__container h2 {
  font-family: Dancing Script;
  font-size: 54px;
  font-weight: 700;
  color: #f8e4be;
  margin-top: -40px;
  margin-left: 370px;
  width: 100%;
}
.desc__container p {
  font-family: Andika;
  font-size: 17px;
  font-weight: 400;
  width: 80%;
  text-align: left;
  color: white;
  text-align: justify;
  margin-right: 100px;
  margin-top: -30px;
  margin-left: 100px;
}
.story__container img {
  width: 552px;
  height: 690px;
  margin-left: -140px;
  margin-top: -70px;
}
.p_more {
  font-family: Andika;
  margin-left: 84% !important;
  font-size: 18px;
  font-weight: 400;
  width: 100px;
  height: 27px;
  padding: 20px;
  border: 0.5px;
  text-decoration: underline;
}
.swiper-pagination-bullet {
  background: #744f40;
}
.swiper-pagination-bullet-active {
  background: #d7b0a0 !important;
}
.service_img {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
.service_img div img {
  transition: transform 0.3s ease;
}
.service_img div img:hover {
  transform: scale(1.3);
}

.offer__container {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  margin-left: 90px;
  width: 88%;
  height: 378px;
  top: 67px;
  left: 6px;
  border-radius: 35px;
  border-width: 1px, 0px, 0px, 2px;
  border-style: solid;
  border-image-source: radial-gradient(
    81.91% 191.89% at 2.52% 0%,
    rgba(173, 113, 74, 0.35) 0%,
    #54362a 27.56%,
    rgba(34, 21, 24, 0) 87.59%
  );
  background: radial-gradient(
    81.91% 191.89% at 2.52% 0%,
    rgba(173, 113, 74, 0.35) 0%,
    #54362a 27.56%,
    rgba(34, 21, 24, 0) 87.59%
  );
  background-color: rgba(173, 113, 74, 0.35);
}
.text__container {
  margin-left: 30px;
  text-align: justify;
}
.text__container h2 {
  margin-top: -40px;
  font-family: Dancing Script;
  font-weight: 700;
  font-size: 56px;
  color: #f8e4be;
  margin-left: 7%;
}
.text__container h3 {
  font-family: Andika;
  font-size: 48px;
  font-weight: 400;
  text-align: left;
  margin-top: -40px;
  color: rgba(248, 228, 190, 1);
  margin-left: 7%;
}
.text__container p {
  font-family: Andika;
  margin-top: -30px;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  color: white;
  text-align: justify;
  width: 600px;
  padding: 10px;
  margin-left: 7%;
}
.text__container-right img {
  margin-left: 50%;
}
.text__container img {
  margin-left: 7%;
}
#litbean {
  width: 47.51px;
  height: 61.6px;
  margin-top: 150px;
  margin-bottom: 200px;
  margin-left: 6px;
}
#litbean2 {
  width: 57.51px;
  height: 71.6px;
  margin-top: 100px;
  margin-left: -100px;
}
#litbean3 {
  width: 57.51px;
  height: 71.6px;
  margin-top: 300px;
  margin-left: -10%;
}
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://p1.pxfuel.com/preview/856/606/340/background-brown-vintage.jpg");
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  /* z-index: 1000; */
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.ModalContent {
  margin-top: 20px;
}

.ModalButton {
  font-family: Andika;
  margin-top: 20px;
  font-weight: 700;
  color: darkslategray;
  background-color: rgba(248, 228, 190, 1);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.ModalButton:hover {
  transform: scale(1.1);
}

/* ! BAYANA FINISH MainContentBlock1 */

body {
  background-color: #221518;
  margin: 0;
}
/*? header start */
.nav {
  display: flex;
  align-items: center;
  position: fixed;
}
.header__nav-Menu {
  color: #fff8e8;
  font-family: Andika;
  font-size: 20px;
  margin-left: 850%;
}
.nav__logo {
  margin-left: 25%;
}

.nav-div {
  display: flex;
  margin-left: 350%;
  gap: 10px;
}
/* Ваш стиль CSS */
.nav__img {
  width: 25px;
  height: 25px;
}

@keyframes moveCart {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shakeCart {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes swingCart {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(10deg);
  }
}

.nav__img.cart {
  animation: moveCart 2s ease-in-out infinite, shakeCart 1s ease-in-out infinite,
    swingCart 1s ease-in-out infinite;
}

.hero {
  left: 0;
  position: absolute;
  margin-left: 10.4%;
  z-index: -1;
}
.block-left-img {
  margin: 0;
  margin-top: 34%;
  margin-left: 13%;
}
.block-left-p {
  color: #dabb9e;
  font-family: Andika;
  font-size: 24px;
  width: 472px;
  margin-left: 14.2%;
  margin-top: -19%;
}

.shop-button {
  background-color: rgb(69, 49, 41);
  color: rgb(248, 228, 190, 1);
  width: 170px;
  height: 55px;
  border-radius: 49px;
  border: 2px solid rgb(248, 228, 190, 1);
  font-size: 24px;
  font-family: Andika;
  margin-left: 14%;
  cursor: pointer;
  margin-top: 55px;
  cursor: pointer;
}
.shop-button:hover {
  background-color: #dabb9e;
}
.catalog-button {
  cursor: pointer;
  background-color: rgb(69, 49, 41);
  color: rgb(248, 228, 190, 1);
  width: 170px;
  height: 55px;
  border-radius: 49px;
  border: 2px solid rgb(248, 228, 190, 1);
  font-size: 24px;
  font-family: Andika;
  margin-left: 13%;
  cursor: pointer;
  margin-top: 55px;
}
.catalog-button:hover {
  background-color: #dabb9e;
}
.card {
  margin-top: 24.5%;
  margin-left: 18%;
}
.corn7 {
  margin-top: 830px;
  margin-left: -205px;
}
.corn6 {
  margin-top: 700px;
  margin-left: -70px;
}
.corn5 {
  margin-top: 500px;
  margin-left: 40px;
}
.corn4 {
  margin-top: 320px;
  margin-left: -65px;
}
.corn3 {
  margin-top: 135px;
  margin-left: -25px;
}
.corn2 {
  margin-top: 90px;
  margin-left: 110px;
}
.corn1 {
  margin-top: 150px;
  margin-left: 325px;
}
/*? header finish */
/*! PAPULARMENU START */
.block1 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.block2 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.block3 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.block4 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.container__menu {
  margin-top: 10%;
}
.price {
  margin-left: 20px;
  font-size: 24px;
}
.asortiment {
  font-size: 48px;
}
.menu {
  font-family: Dancing Script;
  margin-left: 40%;
  margin-top: 10%;
}
.popularmenu {
  margin: 0;
  position: absolute;
  z-index: -1;
  margin-left: 32%;
  margin-top: -160px;
}
.our__menu {
  font-size: 36px;
  font-family: Andika;
  color: #f8e4be;
  margin-left: 79%;
  margin-top: 3%;
}
/*! PAPULARMENU FINISH */


/* ! Reviews Start Oxana */
.review__container {
  padding: 241px 10px 142px;
}

.review__container .review__title h2 {
  font-family: Dancing Script;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  transform: translateY(-50px);
  height: 0;
  color: #f8e4be;
  position: relative;
  z-index: 20;
  text-align: center;
  text-transform: capitalize;
}

.swiper-slide {
  transition: transform 0.3s ease;
}

.swiper-slide-active {
  transform: scale(1.1) translateY(-20px);
}

.swiper-slide-next {
  transform: scale(0.9) translateY(20px);
}

.swiper-slide-prev {
  transform: scale(0.9) translateY(20px);
}

@media screen and (max-width: 650px) {
  .review__container .review__title h2 {
    font-size: 48px;
  }
}

@media screen and (max-width: 380px) {
  .review__container .review__title h2 {
    font-size: 36px;
  }
}

.review__container .review__border {
  margin: 0 auto;
  border-radius: 35px;
  border-left: 3px solid #54362a;
  border-bottom: 3px solid #54362a;
  max-width: 1200px;
  height: 100%;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review__container .review__border .review__slider-container {
  width: 1175px;
  height: 461px;
  border-radius: 35px;
}

.review__container
  .review__border
  .review__slider-container
  .swiper-button-next3,
.review__container
  .review__border
  .review__slider-container
  .swiper-button-prev3 {
  color: #f8e4be;
}

.review__container
  .review__border
  .review__slider-container
  .review__slider
  .review__card {
  max-width: 342px;
  max-height: 362px;
  background: rgba(102, 55, 29, 0.75);
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  align-self: flex-end;
  flex-direction: column;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .review__container
    .review__border
    .review__slider-container
    .review__slider
    .review__card {
    width: 320px;
  }
}

.review__container
  .review__border
  .review__slider-container
  .review__slider
  .review__card:hover {
  background: rgba(116, 71, 47, 0.75);
}

.review__container
  .review__border
  .review__slider-container
  .review__slider
  .review__card
  .review__marks {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 85%;
  transform: translateY(-12px);
}

.review__container
  .review__border
  .review__slider-container
  .review__slider
  .review__card
  .review__card-image {
  margin-top: 22px;
  margin-bottom: 22px;
}

.review__container
  .review__border
  .review__slider-container
  .review__slider
  .review__card
  .review__card-image
  img {
  border-radius: 50%;
  border: 4px solid #f8e4be;
  max-width: 102px;
  max-height: 102px;
}

.review__container
  .review__border
  .review__slider-container
  .review__slider
  .review__card
  .review__name {
  max-width: 62px;
}

.review__container
  .review__border
  .review__slider-container
  .review__slider
  .review__card
  .review__name
  p {
  text-align: center;
  font-family: Andika;
  font-size: 16px;
  line-height: 150.5%;
  letter-spacing: 0.035em;
  text-transform: capitalize;
  color: #f0e3d0;
}

.review__container
  .review__border
  .review__slider-container
  .review__slider
  .review__card
  .review__star {
  margin-top: 22px;
  margin-bottom: 22px;
}

.review__container
  .review__border
  .review__slider-container
  .review__slider
  .review__card
  .review__describe {
  max-width: 285px;
}

.review__container
  .review__border
  .review__slider-container
  .review__slider
  .review__card
  .review__describe
  p {
  font-family: Andika;
  font-size: 12px;
  line-height: 150.5%;
  text-align: center;
  letter-spacing: 0.035em;
  text-transform: capitalize;
  color: #f0e3d0;
}

/* ! Reviews Finish Oxana */

/*! Menu start */
.block5 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.block6 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.block7 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.block8 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.block9 {
  display: flex;
  justify-content: space-between;
  color: #f8e4be;
  font-family: Dancing Script;
}
.menu2 {
  font-family: Dancing Script;
  margin-top: 3%;
  margin-left: 46%;
}
.blog {
  width: 50px;
  height: 50px;
  margin-bottom: -11px;
}
.main__munu-img {
  position: absolute;
  z-index: -1;
  margin-left: 32%;
}
.left1 {
  position: absolute;
  z-index: -1;
}
.left2 {
  position: absolute;
  z-index: -1;
  margin-top: 25%;
  margin-left: 10%;
}
.right1 {
  position: absolute;
  z-index: -1;
  margin-left: 92%;
  margin-top: 25%;
}
.right2 {
  position: absolute;
  z-index: -1;
  margin-top: 25%;
  margin-left: 80%;
}

.blog:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.animation1,
.animation2,
.animation3,
.animation4,
.animation5,
.animation6,
.animation7,
.animation8,
.animation9,
.animation10 {
  animation: swayAnimation 5s infinite ease-in-out;
}

.animation1 {
  animation-delay: 1s;
}

.animation2 {
  animation-delay: 2s;
}

.animation3 {
  animation-delay: 3s;
}

.animation4 {
  animation-delay: 4s;
}

.animation5 {
  animation-delay: 5s;
}

.animation6 {
  animation-delay: 6s;
}

.animation7 {
  animation-delay: 7s;
}

.animation8 {
  animation-delay: 8s;
}

.animation9 {
  animation-delay: 9s;
}

.animation10 {
  animation-delay: 10s;
}

@keyframes swayAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/*! Menu finish */
/*! styles start */

.form_card {
  width: 300px;
  background-color: #3d2c29;
  color: #fff;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  font-family: Andika;
  display: inline-block;
  flex-wrap: wrap;
  margin-left: 60px;
  margin-top: 120px;

  &:hover {
    transform: scale(1.05);
  }

  .card_content {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      border-radius: 5px;
    }

    div {
      flex: 1;

      p {
        margin: 5px 0;
        font-size: 14px;
      }
    }

    button {
      background-color: #8a6d63;
      color: #fff;
      border: none;
      padding: 8px 12px;
      margin: 5px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #634c46;
      }
    }
  }
}

/*! styles finish */

